@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');


body{
    box-sizing: border-box;
    background-color: gray;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "Jacquarda Bastarda 9", serif;
    text-align: center;
}

#main{
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.button{
    padding: 5px 10px;
}

#container{
    width: 400px;
    height: 400px;
    background-color: #ccc;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.grid-item{
    box-sizing: border-box;
}
